<html>
    <head>
        <title>Grade</title>
    </head>
    <body>
        <p>CalcGrade</p>
        <form method="POST" action="/grade">
            <p>
                <label>KOR:</label>
                <input type="number" name="kor">
            </p>
            <p>
                <label>MATH:</label>
                <input type="number" name="math">
            </p>
            <p>
                <input type="submit" value="CalcGrade">
            </p>
        </form>
    </body>
</html>